/*css-demo Style Sheet*/
/* ---------------Box Sizing----------------- */

html {
  box-sizing:border-box;
}
*,
*:before,
*:after {
  box-sizing:inherit;
}

/*----------------Responsive Images------------------*/
img{
  max-width:100px;
  height: auto;
}

/*----------------Utility Classes------------------*/
.container{
  width:80vw;
  margin:40px auto;
}

.img-right{
  float: right;
  margin: 10px 0 10px 20px;
  border: 2.5px solid #D67905;
  padding: 5px;
}

.img-left{
  float: left;
  margin: 10px 20px 10px 0;
  border: 2.5px solid #D67905;
  padding: 5px;
}

/* ---------------Global Styles----------------- */
/*#F4F4F4 #F3E8DE #D67905 #a6c4df #6495ed*/

body {
    background-color: white;
    margin:0; /*space around the outside of the element, full bleed*/
    font-family:'Playfair Display', serif;
    color: #6495ed;
    line-height:1.5;
}

header.primary {
    background-color:#F3E8DE;
    text-align:center;
    color:#a6c4df;
    text-shadow:1px 2px #6495ed;
    /*Long Form*/
    padding-top:40px; 
    padding-right:40px;
    padding-bottom:20px;
    padding-left:40px;
    /*T,R,B,L*/
    padding:40px 40px 20px 40px;
    /*Top/Bottom,Right/Left*/
    padding: 20px 40px;
}

header.primary h1{
  font-size:3.2rem; /*root em*/
  margin:20px 0;
}

header.primary h1 a{
  color:white;
  text-decoration:none;
}

header.primary h2{
  font-size:2rem;
  /*Top | Left/Right | Bottom*/
  margin:20px auto 40px;
}

header.primary nav{
  width:80vw; /*view width, based on overall window*/
  margin:20px auto; /*auto for left/right centers content*/
  max-width:900px;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav a:link, header.primary nav a:visited{
  text-shadow: none;
  color:#6495ed;
  text-decoration:none;
  background-color:white;
  /*background-color:rgba(0,0,0,.4);/*a is for alpha and changes opacity*/
  padding:8px 16px;
  border-radius:10px;
  transition:.5s;
}

header.primary nav a:hover, header.primary nav a:active{
  background-color:rgba(0,0,0,.8);
}

#intro{
  border-top:5px dotted #a6c4df;
}

#intro h2{
  color:#a6c4df;
  text-shadow:1px 2px #6495ed;
}

#content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*Shorthand*/
  flex-flow: row space-between;
  padding-bottom: 2.6rem;
 
}

#content article.post{
  width:30%;
  box-shadow:0 4px 8px rgba(0,0,0,.4);
  padding:.7em;
  border-radius:10px;
  font-size: .8rem;
  transition: .5s
}

#content article.post:hover{
  box-shadow:0 8px 16px rgba(0, 0, 0, .4);
}

#content .post figure{
  margin:0;
}

#content article time, #content article figcaption, #content article footer{
  font-size: .8rem;
  text-transform: uppercase;
  color: #a6c4df;
}

#content article img{
  border-radius: 4px;
}

#content article a:link, #content article a:visited{
  color: #a6c4df;
}

#content article a:hover, #content article a:active{
  text-decoration: none;
}

/*Attribute Selector*/
aside[role="complementary"]{
  background-color: #F3E8DE;
  color: #D67905;
  padding:1.5rem;
}

aside .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside article.widget{
  width: 40%;
}

aside a:link, aside a:visited{
  color: #D67905;
  display: block;
  margin-top: 20px;
}

aside footer{
  display: none;
}

#colophon {
  background-color: #a6c4df;
}

#colophon h6{
  padding: 20px;
  margin: 0;
  color: #D67905;
  text-align: center;
  font-size: .8rem;
  text-transform: uppercase;
}

#additional-elements{
  border-top: 5px dotted #a6c4df;
}

#additional-elements h2{
  color:#a6c4df;
  text-shadow:1px 2px #6495ed;
}

#additional-elements a:link, #additional-elements a:visited{
  color: #D67905;
}

#additional-elements a:hover, #additional-elements a:active{
  text-decoration: none;
}

#additional-elements h3{
  clear:both;
  border-left: 5px dotted #D67905;
  padding: 10px;
}

table{
  width: 100%;
  border: 2.5px solid #F3E8DE;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table td{
  border: 2.5px solid #F3E8DE;
  padding: 10px;
}

table th{
  background-color: #F3E8DE;
  color: #D67905;
  width: 33%;
  padding: 10px;
}

table tr:nth-child(even){
  background-color: #a6c4df;
}

table tr:hover{
  background-color: #F3E8DE;
}

table caption{
  color: #D67905;
  padding: 10px;
  font-weight: bold;
  font-size: 1.4rem;
}

#additional-elements ol{
  list-style-type: upper-roman;
}

#additional-elements ul{
  list-style-type: circle;
}

#additional-elements ul ul{
  color: #D67905;
}

#additional-element dt{
  font-weight: bold;
  font-size: 1.2rem;
}

#additional-element dd{
  margin: 0;
}

/*Adjacent Sibling Combinator*/
dd + dt{
  margin-top: 20px;
}

blockquote{
  box-shadow:0 4px 8px rgba(0,0,0,.4);
  border-radius:10px;
  padding: 40px 60px;
  font-size: 1.2rem;
}

blockquote cite{
  display:block;
  font-size: .6rem;
  font-weight: bold;
  text-align: right;
  margin-top: 1.5rem;
}



/*Media Query Example*/
@media screen and (max-width:690px){
  
  header.primary nav ul{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:0 auto;
  }
  
  header.primary nav li{
    margin-bottom:20px;
  }
}
