/*Course Homepage Stylesheet*/

body{
    background-color: #E29578;
    font-family: 'Poppins', sans-serif;
    color: #EDF6F9;
    font-size: 0.9em;
}

body h1{
    font-family: 'Newsreader', serif;
    font-size: 2.2em;
    color: #006D77;
}

body h2{
    font-family: 'Newsreader', serif;
    font-size: 1.5em;
    color: #006D77;
    padding-top: 40px;
    border-bottom: 1px solid #006D77;
}

body a:link, body a:visited{
  color: #EDF6F9;
  text-decoration: none;
}

body a:hover{
    color: #FFDDD2;
}