/*
Color Theme:
Black #171219
Steel #225560
Lime #EDF060
*/

/*---------------Box Sizing----------------*/

html {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: inherit;
}

/*---------------Utility Styles----------------*/

.container {
    width: 80vw;
    margin: 40px auto; /*40px top and bottom, auto left and right*/
    max-width: 900px;
}

/*---------------Responsive Images----------------*/

img {
    max-width: 100%;
    height: auto;
}

/*---------------Global Styles----------------*/

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/*---------------Header----------------*/

header.primary {
    background-color: #225560;
    text-align: center;
    color: #225560;
    padding: 6em 2em;
    position: relative;
}

header.primary::before{
    content: "";
    background-image: url('../img/dragoncrew.8k.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

header.primary h1 {
    font-size: 3.2rem;
    margin: 20px 0;
    position: relative;
}

header.primary h1 a {
    color: white;
    background-image: url('../img/SpaceX-Logo.png');
    display: block;
    width: 449px;
    height: 70px;
    margin: 0 auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

header.primary h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    text-shadow: 2px 1px #EDF060;
    margin: 20px auto 40px;
    position: relative;
}

header.primary nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    max-width: 900px;
    margin: 20px auto;
}

header.primary nav li {
    list-style-type: none;
    padding: 0;
    width: 20%;
}

header.primary nav a:link,
header.primary nav a:visited {
    color: #225560;
    text-decoration: none;
    background-color: rgba(225, 225, 225, 0.5);
    padding: 8px;
    border-radius: 20px;
    display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
    background-color: rgba(225, 225, 225, 0.3);
}

/*---------------Content----------------*/

section#content {
    padding: 4em 0;
}

section#content h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.2em;
    color: #EDF060;
    text-shadow: 2px 1px #225560; 
    text-align: center;
}

/* ------------- Articles --------------- */

section#articles {
  background: #225560;
}

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #c0c0c0;
  padding: 0 0 4em 0;
}

section#articles h2,
#content h2 {
  flex: 0 0 100%;
  color: #EDF060;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.2em;
}

section#articles h2 {
  color: #225560;
  text-shadow: 2px 1px #EDF060;
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#articles article time,
#articles article figcaption,
#articles article footer {
  font-size: 0.8em;
  color: #c0c0c0;
  text-transform: uppercase;
}

#articles .post a:link,
#articles .post a:visited {
  color: #3b638b;
}

#articles .post figure {
  margin: 0;
}

#articles .post img {
  border-radius: 20px;
}

#articles ul {
  padding: 0 20px;
}
#articles li {
  margin-bottom: 20px;
}